# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
*.egg

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# Editor
.vscode/
.idea/
*.swp
.DS_Store

# Project
~/.config/tamagotchi/
state.json
